/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-color: silver;
    text-align: center;
    font-size: 18px;
}
body p{
    color :black;
    font-family: 'Monda', sans-serif;
}
/* font-family: 'Seymour One', sans-serif;
font-family: 'IM Fell Great Primer SC', serif;
font-family: 'Caveat', cursive;
font-family: 'Monda', sans-serif; */